#about-buttons {
    padding-top: 5rem;
}

#mission{
	text-align: center;
	font-style: italic;
	font-size: 2.5vw;
	font-weight: 100;
	@media #{$small-only} {
        font-size: 1rem;
	}
}
#about-img{
	opacity: 0.5;
}
#about-text{
	font-size: 8vw;
	font-weight: 200;
	text-align: center;
}
