
.full-width{
	max-width: none !important
}

.centered-text{

	text-align: center;
}

#footer{
	background-color: $topbar-bg;
	height: 200px;
	padding-top: 20px;
}

.top-bar {
    height: $topbar-height;
    line-height: $topbar-height;

    .top-bar-section {
        ul li>a {
            font-size: 1rem;
            line-height: $topbar-height;
        }
    }

    #header-img{
        padding-top: 25px;
        width: 230px;
    }

    @media #{$small-only} {
        &:not(.expanded) .top-bar-section .right {
            display: none;
        }
    }

    @media #{$topbar-media-query-small-only} {
        #header-img {
            padding-top: 10px;
            width: 130px;
        }

        height: 3rem;
        line-height: 3rem;

        .top-bar-section li:not(.has-form) a:not(.button) {
            line-height: 3rem;
        }

    }

    @media #{$topbar-media-query-up} {
        .top-bar-section li:not(.has-form) a:not(.button) {
            line-height: $topbar-height;
        }

    }






}

.mission{
	color: white;
	font-size: 80%;
	font-style: italic;
}

#icon{
	color:white;
}

a.anchor{display: block; position: relative; top: -$topbar-height; visibility: hidden;}

#mission{
	text-align: center;
	font-style: italic;
	font-size: 200%;
	font-weight: 100;
}
.head-text{
	font-size: 8rem;
	font-weight: 100;
	text-align: center;
}

body{
	background-color: $body-bg;
	color: $body-font-color;
}
h1, h2, h3{
	color: $body-font-color;
}
button {
	background-color: $button-bg-color;
}

#about-buttons{
	padding-top: 5rem;
}
