
.full-width{
	max-width: none !important
}

.centered-text{

	text-align: center;
}

#footer{
	background-color: $topbar-bg;
	height: 200px;
	padding-top: 20px;
}

#header-img{
	padding-top: 25px;
    width: 230px;
}

.top-bar-section ul li>a {
    font-size: 1rem;
}

.mission{
	color: white;
	font-size: 80%;
	font-style: italic;
}

#icon{
	color:white;
}

a.anchor{display: block; position: relative; top: -$topbar-height; visibility: hidden;}

#mission{
	text-align: center;
	font-style: italic;
	font-size: 200%;
	font-weight: 100;
}
.head-text{
	font-size: 8rem;
	font-weight: 200;
	text-align: center;
}
