.sponsor_img{
		display:block;
		max-height: 80%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
} 

.sponsor .image {
		padding: 10px;
}
.sponsor .sponsor-name {
		font-size: 125%;
		text-decoration: bold;
}

.image_helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


