.sponsor-table {
    max-width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;

    li {
        padding: 20px 30px;
        text-align: center;
    }
}

.sponsor-header {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

.sponsor_img {
    max-width: 200px;
    max-height: 100px;
}

.hcenter{
	margin-left: auto;
	margin-right: auto;
	position: relative;

}
.sponsor .image {
		padding: 10px;
}
.sponsor .sponsor-name {
		font-size: 125%;
		font-weight: bold;
}


.block{
	height: 500px;
	width: 100%;
}
.block:before{
	content: '';
  	display: inline-block;
	height: 500px;
  	vertical-align: middle;
  	margin-right: -0.25em; /* Adjusts for spacing */

}
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  padding: 10px 15px;
  border: #a0a0a0 solid 1px;
 }
