#team-image {
	position: absolute;
	display: block;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	background: #FFF;
	border: 3px solid #FFF;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	top: 0px;
	position: relative;
    overflow:hidden;
    text-align:center;
}

#team-list{
	text-align: right;
	border-right: thin solid red;
	height: 100%;
}
#team-list p{
	line-height: 10px;
}

#team-container{
	margin-bottom: 10px;
}

#team-title{
	color: $oil;
}
#team-space{
	padding-top: 20vw;
}
#coaching-space{
	padding-top: 30vw;
}
#partner-top{
	margin-top: -4rem; 
	font-size: 7em;
	// padding-bottom: 6.8vw;
	font-weight: 100;
	padding-left: -3em;
	padding-right: -3em;
}