.team-image {
	display: block;
	background: #FFF;
    width: 100%;
    height: auto;
	border: 2px solid #FFF;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	position: relative;
    overflow:hidden;
    text-align:center;
}

#team-list{
    margin: 0 auto;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    &.odd {
        background: rgba(255,255,255,.2);
    }
}

.team-section-title {
    margin-bottom: 30px;
}

.side-nav-right {
    float: right;
    text-align: right;
}

.sticky-fix {
    position: fixed;
    top: 0;
    right: 0;
}

.team-name {
    font-size: 1.25rem;
    margin-bottom: 0;
}

.team-title{
	opacity: 0.6;
    font-size: 1rem;
    margin-bottom: 0;
}
#team-space{
	padding-top: 20vw;
}
#coaching-space{
	padding-top: 30vw;
}
#partner-top{
	margin-top: -4rem;
	font-size: 7em;
	// padding-bottom: 6.8vw;
	font-weight: 100;
	padding-left: -3em;
	padding-right: -3em;
}
