---
layout: base
title: Speakers
permalink: /speakers/


---


<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6020043221567', {'value':'0.00','currency':'USD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6020043221567&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>


<div class="tedx-billboard-small background-img">
	<h1 class="centered-text">TEDxTufts Speakers</h1>
</div>

{% assign people = site.data.speakers  %}
{% for person in people %}


  <div class="row">
	  <div class="small-12 columns">
	      <div class="row">
	         <div class="small-3 columns">
	            <img src="{{person.image-url}}" alt="" id="team-image">
	         </div>
	         <a class="anchor" id="{{person.name | slugify}}"></a>
	         <div class="small-9 columns">
	            <h3> {{ person.name }} 
				{% if person.twitter %}
	            <small><a href="http://www.twitter.com/{{person.twitter}}">@{{person.twitter}}</a></small>
				{% endif %}
	            </h3> 
	            <p> {{person.bio}} </p> 
	         </div>
	      </div>
	  </div>
  </div>

{% endfor %}



<div class="row">
	<div class="large-12 columns">
		<div class="row">
			<div class="small-12 small-centered columns" data-equalizer-watch> 
				<h2 style="text-align: center">Nominate Someone.</h2>	
				<p style="text-align:center" >We need your help to find bright and inspiring minds across campus and beyond.
TEDxTufts, more than anything, is about Tufts: we want to showcase innovative and inspiring ideas that come from our university. If you know a student, teacher, or alumni with an amazing idea, let us know!</p>
			</div>
			<div class="small-8 small-centered columns"> 
				<a target="_blank" href="https://docs.google.com/forms/d/1RgrEkMVfMlPQAs97SjY6dmAzUpWmYgR6oxD-Mdl3NWo/viewform">
					<button style="width: 100%">Nominate Now</button>
				</a>
			</div>
		</div>
	</div>

</div>


<div class="tedx-billboard-small background-img">
	<h1 class="centered-text">TEX Selected Past Speakers</h1>
</div>

<div class="videos">
	<div class="row">
		<div class="large-6 columns">
			<div class="flex-video">
				<iframe width="560" height="315" src="//www.youtube.com/embed/t2gLT1_YBNg" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="large-6 columns">
			<div class="flex-video">
				<iframe src="//www.youtube.com/embed/0GPOz07Ed9k" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-6 columns">
			<div class="flex-video">
				<iframe width="560" height="315" src="//www.youtube.com/embed/EZWVhZh8rgw?list=PLdMVGg14xOszT08QBy5lD5M1bNeEqiKcL" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="large-6 columns">
			<div class="flex-video">
				<iframe width="560" height="315" src="//www.youtube.com/embed/zZ8ucPR6dB0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
