---
layout: base
title: TEDx Team 
permalink: /team/
 

---

<div class="tedx-billboard-small background-img">
	<h1 class="centered-text">Meet the Team</h1>
</div>

<div style="padding-top: 2em","font-size: 3em" class="row">
  <div class="small-12 columns"><a href="https://docs.google.com/forms/d/e/1FAIpQLScbSPuHQooDkoB9gKfHml4PPAkI6O_fhihY6FNFMBCKWfQ3Yg/viewform" class="button alert" style="width: 100% ">Apply to the Team.</a></div>
</div>

{% assign people = site.data.team  %}
{% for person in people %}

  {% capture modulo %}{{ forloop.index | mod:2 }}{% endcapture %}

  {% if modulo == '0' or forloop.first %}
    <div class="row">
  {% endif %}
  <div class="small-6 columns">
      <div class="row">
         <div class="small-4 columns">
            <img src="{{person.image-url}}" alt="" id="team-image">
         </div>
         <a class="anchor" id="{{person.name | slugify}}"></a>
         <div class="small-8 columns">
            <h3> {{ person.name }}</h3>
            <p id = "team-title">{{person.title}}</p> 
            <p> {{person.bio}} </p> 
         </div>
      </div>
  </div>

  {% if modulo == '0' or forloop.last %}
    </div>
  {% endif %}
{% endfor %}
</div>
