---
layout: base
title: Coaching Advisors
permalink: /coaches/


---

<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6020043221567', {'value':'0.00','currency':'USD'}]);
</script>

<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
<script type="text/javascript">
twttr.conversion.trackPid('l5nqa', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l5nqa&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
<img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l5nqa&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" /></noscript>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6020043221567&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

<!-- <div class="">
	<img src=""
</div> -->

<div class="tedx-billboard-small">
	<img class="tedx-top-img" src="/public/coaches_home.jpg">
</div>
<br>
<div class="row">
	<div class="large-12 small-centered columns">
		<h1 class="head-text">Coaching Advisors</h1>
	</div>
</div>
<div class="row" id="coaching-space">
</div>

<!-- <div class="tedx-top">
	<h1 class="centered-text tedx-top-text">Coaching Advisors</h1>
	<img class="tedx-top-img" src="/public/coaches_home.jpg">
</div> -->

<!-- Nominate and apply to speak banners -->
<!-- <div style="padding-top: .5em" class="row">
	<div class="small-6 columns"><a href="http://goo.gl/forms/NloDMjs6Oy" class="button alert" style="width: 100%	">Nominate a Speaker.</a></div>
	<div class="small-6 columns"><a href="https://docs.google.com/forms/d/e/1FAIpQLScGIQm1jGeEjbDqX0uJu442RVRWaZpv1uDTTAuIlOD75jiogA/viewform" class="button alert" style="width: 100%	">Apply to Speak.</a></div>
</div> -->
<br><br>
{% assign people = site.data.coaches  %}
{% for person in people %}



  <div class="row">
	  <div class="small-12 columns">
	      <div class="row">
	         <div class="small-4 columns">
	            <img src="{{person.image-url}}" alt="" id="team-image">
	            <div class="small-12 columns">
	            	<center>
	            	<h3> {{ person.name }} 
						{% if person.twitter %}
	            		<small><a href="http://www.twitter.com/{{person.twitter}}">@{{person.twitter}}</a></small>
						{% endif %}
	            	</h3> 
	            </center>
	        </div>
	         </div>
	         <div class="small-8 columns">
	            <p> {{person.bio}} </p> 
	         </div>
	         <a class="anchor" id="{{person.name | slugify}}"></a>

	         

	      </div>
	  </div>
  </div>
  <br>

{% endfor %}

