---
layout: base
title: Partners
permalink: /partners/


---

<div class="tedx-billboard-small">
  <img class="tedx-top-img" src="/public/partners_home.jpg">
</div>
<br>
<div class="row">
  <div class="large-12 small-centered columns">
    <h1 class="head-text" id="partner-text">Thank You Partners</h1> 
    <p id="thanks-tag">Thank You to Our Partners for Helping Make TEDxTufts 2016 Possible</p>
</div>
</div>

<div class="row" id="partner-space">
</div>
<div id="partner-body">
<!-- <div class="tedx-top">
  <h1 class="centered-text tedx-top-text" id="partner-text">Thank You to Our Partners for Making TEDxTufts 2016 Possible</h1>
  <img class="tedx-top-img" src="/public/partners_home.jpg">
</div> -->

{% assign sponsors = site.data.first_tier_sponsors  %}
<ul class="row small-block-grid-1 medium-block-grid-2 large-block-grid-3 margin-centered" id="first-tier-sponsors">
{% for sponsor in sponsors %}
    <li>
        <a target="_blank" href="{{sponsor.link-url}}">
            <div class="large-12 image" >
                <div  class="hcenter" style="height: {{sponsor.image_height}}; width: {{sponsor.image_width}}">
                    <img class="sponsor_img" src="{{sponsor.image-url}}">
                </div>
            </div>
        </a>
    </li>
{% endfor %}
</ul>

{% assign sponsors = site.data.second_tier_sponsors  %}
<ul class="row small-block-grid-1 medium-block-grid-2 large-block-grid-3 margin-centered" id="second-tier-sponsors">
{% for sponsor in sponsors %}
  <li>
      <a target="_blank" href="{{sponsor.link-url}}">
          <div class="small-12 image" >
              <div  class="hcenter" style="height: {{sponsor.image_height}}; width: {{sponsor.image_width}}">
                  <img class="sponsor_img" src="{{sponsor.image-url}}">
              </div>
          </div>
      </a>
  </li>

{% endfor %}
</ul>

</div>
<div>
  <br>
  <br>
  <br>
</div>
{% assign sponsors = site.data.third_tier_sponsors  %}
<ul class="row small-block-grid-1 medium-block-grid-2 large-block-grid-3 margin-centered" id="third-tier-sponsors">
{% for sponsor in sponsors %}
    <li>
        <a target="_blank" href="{{sponsor.link-url}}">
            <div class="small-12 image" >
                <div  class="hcenter" style="height: {{sponsor.image_height}}; width: {{sponsor.image_width}}">
                    <img class="sponsor_img" src="{{sponsor.image-url}}">
                </div>
            </div>
        </a>
    </li>
{% endfor %}
</ul>
 </div>
</div>
<!-- </ul> -->
<!-- </div> -->
</div>
