---
layout: base
title: Partners
permalink: /partners/
 

---

<div class="tedx-billboard-small background-img">
	<h1 class="centered-text">Our Partners</h1>
</div>

<h2 class="text-center" style="margin-bottom: 40px">Making TEDxTufts Possible.</h2>
{% assign sponsors = site.data.first_tier_sponsors  %}
{% for sponsor in sponsors %}
  {% capture modulo %}{{ forloop.index | mod:3 }}{% endcapture %}
  {% if modulo == '0' or forloop.first %}
    <div class="row">
  {% endif %}
  <div class="large-4 columns">
      <div class="row">
         <a target="_blank" href="{{sponsor.link-url}}">
			<div class="large-12 image" >
				<div  class="hcenter" style="height: {{sponsor.image_height}}; width: {{sponsor.image_width}}">
					<img class="sponsor_img" src="{{sponsor.image-url}}">
				</div>
			</div>
			</a>
		</div>
		<div class="row">
			<div class="small-12">
				<!-- <a target="_blank" href="{{sponsor.link-url}}"><p class="text-center sponsor-name">{{sponsor.name}}</p></a> -->
			</div>
      </div>
  </div>

  {% if modulo == '0' or forloop.last %}
    </div>
  {% endif %}
{% endfor %}

{% assign sponsors = site.data.second_tier_sponsors  %}
{% for sponsor in sponsors %}

  {% capture modulo %}{{ forloop.index | mod:3 }}{% endcapture %}

  {% if modulo == '0' or forloop.first %}
    <div class="row">
  {% endif %}
  <div class="large-4 columns">
      <div class="row">
         <a target="_blank" href="{{sponsor.link-url}}">
			<div class="small-12 image" >
				<div  class="hcenter" style="height: {{sponsor.image_height}}; width: {{sponsor.image_width}}">
					<img class="sponsor_img" src="{{sponsor.image-url}}">
				</div>
			</div>
			</a>
		</div>
		<div class="row">
			<div class="small-12">
				<!-- <a target="_blank" href="{{sponsor.link-url}}"><p class="text-center sponsor-name">{{sponsor.name}}</p></a> -->
			</div>
      </div>
  </div>

  {% if modulo == '0' or forloop.last %}
    </div>
  {% endif %}
{% endfor %}
</div>
<div>
  <br> 
  <br>
  <br>
</div>
{% assign sponsors = site.data.third_tier_sponsors  %}
{% for sponsor in sponsors %}

  {% capture modulo %}{{ forloop.index | mod:3 }}{% endcapture %}

  {% if modulo == '0' or forloop.first %}
    <div class="row">
  {% endif %}
  <div class="large-4 columns">
      <div class="row">
         <a target="_blank" href="{{sponsor.link-url}}">
      <div class="small-12 image" >
        <div  class="hcenter" style="height: {{sponsor.image_height}}; width: {{sponsor.image_width}}">
          <img class="sponsor_img" src="{{sponsor.image-url}}">
        </div>
      </div>
      </a>
    </div>
    <div class="row">
      <div class="small-12">
        <!-- <a target="_blank" href="{{sponsor.link-url}}"><p class="text-center sponsor-name">{{sponsor.name}}</p></a> -->
      </div>
      </div>
  </div>

  {% if modulo == '0' or forloop.last %}
  <div>
    <br>
  </div>
    </div>
  {% endif %}
{% endfor %}
 </div>

<!-- </ul> -->
<!-- </div> -->
</div>

