.tedx-body{
}
.background-img{
	width: 100%;
	height: 335px;
	background: url(public/tribk.png);
}

.tedx-nav{

}
.tedx-billboard{
	padding-top: 40px;
}

.tedx-billboard h1{
	color: white;
	text-decoration: bold;
}

.tedx-billboard-small{
	padding-top:20px;
	height: 100px;
	margin-bottom: 20px;
}
.tedx-billboard-small h1{
	color: white;
	text-decoration : bold;

}

.v-center{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.header-item{
	padding: 0px 18px;
	font-size: 15px;
	float: right;
	cursor: pointer;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: normal;
	color: white;
	-webkit-transition: 0.2s;
	text-transform: uppercase;
}

