.tedx-body{
}
.background-img{
	height: 335px;
	background: url(public/backgrounds/2.jpg);
	background-size: cover;
}
.tedx-top{
	background-size: cover;
	display: inline-block;
}
.tedx-top-img{
	opacity: 0.5;
}
.tedx-top-text{
	z-index: 3;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    /*font-size: 20px;*/
   /* width: 100%;
    height: 26px;*/
    padding: 0;
    margin: 0;
    margin-top: 10rem; /* 1/2 height */
    /*text-align: center;*/
    /*background: red;*/
    /*background: rgba(170, 0, 0, 0.8); /* CSS3 */
    font-size: 8rem;
}
.tedx-billboard{
	padding-top: 40px;
}

.tedx-billboard h1{
	color: white;
	text-decoration: bold;
}

.tedx-billboard-small{
	padding-top:20px;
	height: 100px;
	margin-bottom: 20px;
}
.tedx-billboard-small h1{
	color: white;
	text-decoration : bold;

}

.v-center{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.header-item{
	padding: 0px 18px;
	font-size: 15px;
	float: right;
	cursor: pointer;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: normal;
	color: white;
	-webkit-transition: 0.2s;
	text-transform: uppercase;
}

