<footer class="footer" id="footer">
	<div class="row">
    	<div class="medium-4 columns">
        	<img src={{"public/TEDx_white.png" | prepend: site.baseurl }} alt="">
        	<div class="row">
        		<div class="small-2 columns">
        			<i class="fa fa-facebook-square fa-2x" id="icon"></i>
        		</div>
        		<div class="small-2 columns end">
        			<i class="fa fa-github-square fa-2x" id="icon"></i>
        		</div>
        	</div>
      	</div>
	  	<div class="medium-5 columns mission text-right">
			TEDxTuftsUniversity serves as a catalyst for connecting provocative thinkers with provocative doers, by showcasing the ideas, stories, and experiences of those in the Tufts community.
	  	</div>
    </div>
</footer>