<div>
	<nav class="top-bar" data-topbar role="navigation">
	  <ul class="title-area">
	    <li class="name">
	      <h1><a href="/"><img id="header-img" src={{"public/TEDx_white_cropped.png" | prepend: site.baseurl }}></a></h1>
	    </li>
	    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	  </ul>
	  <section class="top-bar-section tedx-nav">
	      <!-- Right Nav Section -->
	      <ul class="right">
	        {% for p in site.pages %}
                {% if p.sitemap != false %}
                    <li {% if p.permalink == page.url %} class="active" {% endif %}>
                        <a href={{p.url}}>{{p.title}}</a>
                    </li>
                {% endif %}
	        {% endfor %}
	      </ul>
	      <!-- Left Nav Section -->
	    </section>
	</nav>
</div>
