<head>
  	<link rel="stylesheet" type="text/css" href={{"stylesheets/app.css" | prepend: site.baseurl }}>
  	<link rel="stylesheet" type="text/css" href={{"tedxtufts.css" | prepend: site.baseurl }}>
	<script type="text/javascript" src="https://code.jquery.com/jquery-git2.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/js/foundation.min.js"></script>
 	<title>{% if page.title %} {{ page.title }} | {% endif %} TEDxTuftsUniversity</title>
</head>


<body class='tedx-body' onload="$(document).foundation();">
	{% include header.html %}	
	{{ content }}
	{% include footer.html %}
</body>		
